* {
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fafbfc;
}

header {
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    text-align: center;

}

main {
    padding: 30px 50px;
}

div.card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

div.lineInput {
    display: grid;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button {
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover {
    background-color: rgb(102, 31, 168);
}